---
import { Image } from "astro:assets";
import { site } from "../content/site";
import brain from "../assets/images/logo.png";
---

<section class="section section-light about">
    <div class="container section-grid">
        <div class="about-content">
            <p class="section-label">
                {site.about.label}
            </p>

            <h2 class="section-title">
                {site.about.title}
            </h2>

            <p>{site.about.description}</p>

            <p>{site.about.secondParagraph}</p>

            <a href="#contact" class="primary-button"> Learn More </a>
        </div>

        <div class="about-image">
            <div class="about-image">
                <Image
                    src={brain}
                    alt="Psychology illustration"
                    class="about-brain"
                />
            </div>
        </div>
    </div>
</section>
